name: Check spelling
permissions:
  contents: read
on:
  pull_request: null
jobs:
  spellcheck:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: streetsidesoftware/cspell-action@v8
        with:
          incremental_files_only: true
          strict: false
