name: textlint

on:
  push:
    branches:
      - "main"
    paths:
      - "**.md"
  pull_request:
    paths:
      - "**.md"

permissions:
  contents: read

jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        year: [2026, 2025, 2024, 2023, 2021]

    steps:
      - name: Setup repo
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run textlint with Bun
        run: |
          find posts/${{ matrix.year }} -name '*.md' | sort | xargs -n1 bun x textlint
