name: textlint

on:
  push:
    branches:
      - "main"
    paths:
      - "**.md"
  pull_request:
    paths:
      - "**.md"

permissions:
  contents: read

jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        year: [2026, 2025, 2024, 2023, 2021]

    steps:
      - name: Setup repo
        uses: actions/checkout@v6

      - name: Build Docker image
        run: docker build -t textlint-runner .devcontainer

      - name: Run textlint in Docker
        run: |
          find posts/${{ matrix.year }} -name '*.md' | sort | xargs docker run --rm -v ${{ github.workspace }}:/workspaces/win textlint-runner textlint
